.email-content {
  p {
    margin: 10px 0;
  }

  .highlight {
    font-weight: bold;
    color: $primary-color;
  }

  .cta a {
    color: $primary-color;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
